body{
}
canvas{
    position: relative;
}
#box1{
    position: absolute;
    margin-left: 250px;
    top: 150px;
    text-align: center;
}
#box2{
    position: absolute;
    margin-left: 450px;
    top: 150px;
    text-align: center;
}
#box3{
    position: absolute;
    margin-left: 125px;
    top: 330px;
    text-align: center;
}
#box4{
    position: absolute;
    margin-left: 340px;
    top: 340px;
    text-align: center;
}
#box5{
    position: absolute;
    margin-left: 535px;
    top: 330px;
    text-align: center;
}
#box6{
    position: absolute;
    margin-left: 245px;
    top: 510px;
    text-align: center;
}
#box7{
    position: absolute;
    margin-left: 440px;
    top: 500px;
    text-align: center;
}
#box8{
    position: absolute;
    color: white;
    margin-left: 960px;
    top: 160px;
    text-align: center;
}
#box9{
    position: absolute;
    color: white;
    margin-left: 1140px;
    top: 175px;
    text-align: center;
}
#box10{
    position: absolute;
    color: white;
    margin-left: 830px;
    top: 340px;
    text-align: center;
}
#box11{
    position: absolute;
    color: white;
    margin-left: 1050px;
    top: 360px;
    text-align: center;
}
#box12{
    position: absolute;
    color: white;
    margin-left: 1240px;
    top: 360px;
    text-align: center;
}
#box13{
    position: absolute;
    color: white;
    margin-left: 955px;
    top: 520px;
    text-align: center;
}
#box14{
    position: absolute;
    color: white;
    margin-left: 1150px;
    top: 530px;
    text-align: center;
}